<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="description" content="{{desc}}" />
    <meta name="keywords" content="{{keywords}}" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="General" />
    <meta name="Robots" content="INDEX,FOLLOW" />
    <meta name="author" content="{{name}}" />
    <meta name="copyright" content="Copyright {{name}} - 2023" />
    <meta name="Revisit-after" content="31 Days" />
    <meta name="google-site-verification" content="DLCgiLHl0joUGlbwFuNs8xxXGoj8po_42UVRvuzogDE" />
    <meta name="google-translate-customization" content="939f14ca9eadf8a5-abc1b097d52478f7-g0354f89afecccfcd-11" />
    <link rel="shortcut icon" type="image/x-icon" href="/icon.ico">
    <meta name="application-name" content="{{name}}">
    <meta name="msapplication-TileImage" content="{{url}}/images/logo.png">
    <meta name="msapplication-TileColor" content="#F5F5F5">
    <meta name="msapplication-starturl" content="{{url}}/">
    <meta name="msapplication-navbutton-color" content="#F5F5F5">
    <meta name="msapplication-window" content="width=1024;height=768">
    <meta name="msapplication-tooltip" content="Go to rxmedarts.com">
    <meta name="msapplication-task" content="name=Home; action-uri=/; icon-uri={{url}}/icon.ico">
    <meta name="msapplication-task" content="name=Contact Us; action-uri=/contactus/; icon-uri={{url}}/icon.ico">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{url}}/images/logo.png" />
    <meta property="og:site_name" content="{{name}}" />
    <meta property="og:description" content="{{desc}}" />
    <meta property="og:type" content="restaurant">
    <meta property="og:phone_number" content="{{phone}}" />
    <meta property="og:latitude" content="{{lat}}" />
    <meta property="og:longitude" content="{{long}}" />
    <meta property="og:street-address" content="{{address}}" />
    <meta property="og:locality" content="{{city}}" />
    <meta property="og:region" content="{{region}}" />
    <meta property="og:postal-code" content="{{postalCode}}" />
    <meta property="og:country-name" content="USA" />
    <title>{{title}}</title>
    <link href="/css/site.css?random={{staticRandom}}" rel="stylesheet">
</head>

<body>
    <div class="hidden">
        <div itemprop="LocalBusiness" itemscope itemtype="http://schema.org/LocalBusiness">
            <span itemprop="currenciesAccepted">USD</span>,
            <time itemprop="openingHours" datetime="Mo,Fr 9:00-17:00">Mondays through Friday 9:00am-5:00pm</time>.
            <span itemprop="paymentAccepted">Cash and credit card</span>.
            <span itemprop="priceRange">$$</span>.
        </div>
        <div itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">{{name}}</span>
            Located at
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{address}}</span>,
                <span itemprop="addressLocality">{{city}}</span>,
                <span itemprop="addressRegion">{{region}}</span>.
                <span itemprop="postalCode">{{postalCode}}</span>.
            </div>
            <div itemprop="location">
                <div itemscope itemtype="http://schema.org/Place">
                    <h1>Where is <span itemprop="name">{{name}}</span> located?</h1>
                    <div itemprop="geo">
                        Latitude: {{lat}}
                        Longitude: {{long}}
                        <span itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="{{lat}}" />
                            <meta itemprop="longitude" content="{{long}}" />
                        </span>
                    </div>
                    </span>
                </div>
                <img itemprop="logo" src="{{url}}/images/logo.png" alt="{{name}}" />
                Phone: <span itemprop="telephone">{{nicePhone}}</span>
                <link itemprop="url" href="{{url}}">
                <a itemprop="sameAs" href="http://www.google.com/+rxmedarts">Google+</a>
                <meta itemprop="hasPOS" content="true" />
                <meta itemprop="legalName" content="{{name}}" />
            </div>
        </div>
    </div>



    <div id="brandBar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="navMobileBars" class="btn-group navbar-toggle collapsed" data-toggle="buttons">
                        <button class="btn btn-default" data-toggle="collapse" data-target="#main-navbar-collapse">
                            <input type="checkbox" autocomplete="off" checked>
                            <i class="fa fa-2x fa-bars"></i>
                            <span class="fa fa-2x fa-times"></span>
                        </button>
                    </div>
                    <div class="pull-right hidden-xs text-right contact-bar">
                        <div id="google_translate_element"></div>
                        <a class="phone-title" href="tel:{{phone}}"> <i class="fa fa-phone"></i> {{nicePhone}}</a>
                        <br />
                        <a href="https://twitter.com/rxmedarts"><i class="fa fa-lg fa-twitter twitter"></i></a>
                        <a href="https://www.facebook.com/rxmedarts"><i
                                class="fa fa-lg fa-facebook-official facebook"></i></a>
                        <a href="http://www.yelp.com/biz/medical-arts-pharmacy-la-mesa"><i
                                class="fa fa-lg fa-yelp yelp"></i></a>
                    </div>
                    <a href="/">
                        <img src="/images/logo.png" class="logo-responsive" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav id="simpleNav" class="navbar-default">
                        <div class="navbar-header hidden-xs">
                            <a class="navbar-brand" href="/">
                                <i class="fa fa-lg fa-home"></i>
                            </a>
                        </div>

                        <div id="main-navbar-collapse" class="collapse navbar-collapse">
                            <ul class="nav nav-justified">
                                <li class="visible-xs"><a href="/">Home</a></li>
                                <li><a href="/ourservices/">Our Services</a></li>
                                <li><a href="/insurance/">Insurance</a></li>
                                <li><a href="/resources/">Resources</a></li>
                                <li><a href="/aboutus/">About Us</a></li>
                                <li><a href="/contactus/">Contact Us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div>